* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background-color: #F4F5F7;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top right, #FFB6C1, #1D3557);
  background-size: cover;
  background-position: center;
}

header {
  background: #1D3557;
  padding: 1.5rem 5%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  color: #FFD700;
  font-weight: 600;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin-left: 25px;
}

header ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

header ul li a:hover {
  color: #FFD700;
  border-bottom: 2px solid #FFD700;
}

.login-container {
  background-color: white;
  padding: 4rem 3rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  transition: 0.5s ease;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #1D3557;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: all 0.3s;
}

input:focus {
  outline: none;
  border-color: #1D3557;
  box-shadow: 0 0 10px rgba(29, 53, 87, 0.2);
}

button {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #1D3557;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #457B9D;
  transform: translateY(-3px);
}

#sign-up {
  background-color: #FFD700;
  color: #1D3557;
  margin-top: 1.5rem;
}

button:hover {
  transform: scale(1.05);
}

p {
  margin: 1.5rem 0;
  font-size: 0.9rem;
  color: #999;
  text-align: center;
}

p span {
  padding: 0 10px;
  background-color: #fff;
  color: #1D3557;
}

#return-btn {
  background-color: transparent;
  color: #1D3557;
  margin-top: 1.5rem;
  border: 2px solid #1D3557;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  background-color: #1D3557;
  color: #FFD700;
  font-size: 0.8rem;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  .login-container {
    width: 80vw;
    padding: 2rem;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  header ul li {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  input, button {
    font-size: 0.9rem;
    padding: 10px;
  }
}
